body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2.75%;
  color: #FEF2BF;
}

.container {
  display: block;
  height: auto;
  width: 50%;
  margin: 10px;
  padding-left: 5%;
}
.foot{
   color:white;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.row{
  padding: 0 10% 0;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media (max-width: 1000px){
  .btn{
    margin: 10px 10px 10px 10px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 8px solid black;
    border-radius: 20%;
    padding: 20px;
  }
  .container{
    margin-left: 100px;
     margin-right: 0;
    padding: 0;
    text-align: center;
  }
  .row{
    padding: 0;
  }
}
